.title {
    text-align: center;
    margin-top:20px;
}

.form {
    margin-left:400px;
    margin-top:20px;
}
.form label {
    font-size: 20px;
}
.form input {
    width:400px;
    height:25px;
    margin-top:15px;
}
.form input[name="usernameadmin"] {
    margin-left:20px;
}
.form input[name="passadmin"] {
    margin-left:40px;
}
.form button {
    width:100px;
    height:30px;
    margin-top:30px;
    margin-left:200px;
}