.frame {
    margin-left:10%;
    margin-top:2%;
    border:1px solid black;
    margin-right:8%;
    height:970px;
    border-radius: 20px;
    background-color: black;
    width:82%;
}
.titleMenPage {
    text-align:center;
    margin-top:3%;
    color:white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size:calc(1.375rem + 1.5vw);
}
.framePart {
    margin-top:3%;
    margin-left:4%;
    width:15%;
    float:left;
    height:180px;
}
.imagePart {
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    width:100%;
    height:100%;
}
.blockInside {
    background-color: white;
    width:100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.62) 0%, white 100%);
    height:65px;
    line-height: 1.5;
}
.titleBlock {
    margin-left:9px;
    width:107.2px;
    height:30%;
    font-size:150%;
}
.blockInside p {
    margin-top:3px;
    margin-left:9px;
    width:107.2px;
    height:13%;
    font-size:100%;
}
.star {
    border-radius:50%;
    width:10px;
    height:10px;
    margin-right:5px;
}
.stargroup {
    margin-top:13px;
    width:107.2px;
    height:18.4px;
    margin-left:9px;
    font-size:20%;
}
.rowEach:nth-child(n+1){
    width:100%;
    height:200px;
    margin-top:6%;
}
.rowEach:first-child {
    margin-top:2%;
}
.changeParent {
    width:100%;
    margin-top:10%;
    font-size: calc(1.3rem + .6vw);
    cursor: pointer;
}
.changeParent h3{
    color:white;
    width:30px;
    float:left;
    margin-left:5px;
    font-size: calc(1rem + .6vw);
}
.changeParent button{
    font-size: calc(1rem + .6vw);
    color:white;
    background-color: black;
    border:1px solid black;
    cursor: pointer;
}
.changeParent h3:first-child {
    margin-left:40%;
}
.changeParent h3:last-child {
    margin-left:40px;
}
.footer2 {
    margin-top:50px !important;
}