@keyframes move {
    0% {
        transform: translate(0,0);
      }
    100% {
        transform: translate(0,297px);
    }
}

@keyframes moveLeft {
    0% {
        transform: translate(0,0);
      }
    100% {
        transform: translate(-200px,0);
    }
}

@keyframes moveLeftForRightBody {
    0% {
        transform: translate(0,0);
      }
    100% {
        transform: translate(-80px,0);
    }
}
.animationWork {
    animation: move 0.3s ease-in-out forwards;
}
.animationLeft {
    animation: moveLeft 0.3s ease-in-out forwards;
}
.animationForRightBody {
    animation: moveLeftForRightBody 0.3s ease-in-out forwards;
}
.taskbar__wrapper {
    width:100%;
    height:50px;
    background-color: rgba(0, 0, 0, 0.655);
    display: flex;
}

.leftButton {
    width:70%;
    height:100%;
}
.leftButton a {
    color:aqua;
    margin-top:20px;
    margin-left:30px;
    display: inline-block;
    font-style: italic;
}
.leftButton a:hover {
    color:white;
}

.rightButton {
    width:28%;
    height:100%;
    text-align: right;
    display:flex;
}
.pushBlock {
    width:70%;
}
.block__Image {
    width:10%;
    height:100%;
}
.block__Image img {
    border-radius: 50%;
    width:30px;
    height:30px;
    margin-top:30%;
    cursor: pointer;
}
#messID {
    margin-right:15px;
}

.bodySocial__wrapper {
    width:100%;
    height:auto;
    display:flex;
}
.wayBackHome__wrapper {
    position: fixed;
    width:40px;
    height:40px;
    z-index:9999;
    bottom:10px;
    right:10px;
}
.wayBackHome__wrapper img {
    border-radius: 50%;
    width:100%;
    height:100%;
}
#bodyLeft {
    display: block;
}
.bodyLeft {
    width:15%;
    background-color: rgba(0, 0, 0, 0.73);
    position: relative;
}

.bodyLeft>img {
    border-radius: 50%;
    width:30px;
    height:30px;
    z-index: 999;
    top:300px;
    left: 215px;
    cursor: pointer;
    position: absolute;
}

.leftSidebar__borderTop {
    width:100%;
}

#leftSideBar {
    display:block;
}

.leftSidebar__borderTop img {
    width:70%;
    height:200px;
    margin-left:15%;
    margin-top:20px;
}
.leftSidebar__borderTop_blockInfo {
    width: 70%;
    margin-left:15%;
}
.leftSidebar__borderTop_blockInfo h2 {
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    width:100%;
}
.leftSidebar__borderTop_blockInfo ul {
    color:white;
    width:100%;
    margin-top:10px;
}
.leftSidebar__borderTop_blockInfo ul li {
    width:100%;
    display: flex;
    font-size: 15px;
}
.leftSidebar__borderTop_blockInfo ul li:nth-child(2) {
    margin-top: 3px;
}
.leftSidebar__borderTop_blockInfo ul li:nth-child(2) p{
    opacity: 0.5;
}
.leftSidebar__borderTop_blockInfo ul li:first-child p{
    color:rgb(32, 186, 32);
}

.bodyRight {
    width:85%;
}
#rightSideBar {
    display:block;
}

.bodyRight__reelPart {
    width: 80%;
    border: 1px solid white;
    height: 200px;
    margin-left:10%;
    margin-top:20px;
    display: flex;
    background-color: #d9d9d9bb;
    border-radius: 10px;
}

.reelPart__wrapper {
    height:100%;
    width:15%;
    position: relative;
    margin-left:40px;
}

.reelPart__wrapper:first-child {
    margin-left: 46px;
}

img.reelPart__Post {
    width: 100%;
    height:90%;
    margin-top: 10px;
    border-radius: 10px;
}

.avatarPart__wrapper {
    width:20%;
    height: 20%;
}
.avatarPart__wrapper img {
    width:28%;
    height:20%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    bottom:0;
    left:35%;
}
.avatarPart__status {
    background-color: rgb(46, 179, 46);
    width:7%;
    height:5%;
    border-radius: 50%;
    position: absolute;
    z-index:2;
    bottom: 0;
    left:55%;
}

.bodyRight__newFeed_wrapper{
    width:100%;
    height: 1000px;
}

.rowFeed {
    width:100%;
    height:350px;
    margin-top:30px;
}

.rowFeed__feedPart {
    width:80%;
    border: 1px solid black;
    height: 100%;
    margin-left: 10%;
    display:flex;
    background-color: black;
    border-radius: 10px;
}
.rowFeed__feedPart_media {
    width:30%;
    height:100%;
}
.rowFeed__feedPart_media img {
    width:100%;
    height:100%;
    border-radius: 10px;
}
.rowFeed__feedPart_post {
    width:70%;
    height:100%;
}
.author__wrapper {
    width:100%;
    height:13%;
    display:flex;
    position: relative;
}
.author__wrapper img {
    margin-top:10px;
    width:6.5%;
    height:100%;
    margin-left:20px;
    border-radius: 50%;
}
.author__wrapper p {
    color:white;
    margin-top:20px;
    margin-left:8px;
    font-size: 15px;
    opacity: 0.5;
}
.active__green {
    width:1.8%;
    height:29.5%;
    background-color: green;
    position: absolute;
    z-index:1;
    bottom:-22%;
    left:7%;
    border-radius: 50%;
}
.userFeed {
    color:white;
    margin-top:20px;
    width:100%;
    height:23%;
    font-size: 18px;
    line-height: 22px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.userFeed p {
    margin-left:25px;
}
.emoji {
    margin-top:14px;
    width:100%;
    height:5%;
    color:white;
    display: flex;
}
.emoji img {
    margin-left: 20px;
    width:2.7%;
    height: 100%;
    border-radius: 50%;
}
.emoji p {
    font-size: 15px;
    margin-left:2px;
    opacity: 0.7;
}
.actionButton__wrapper {
    margin-top:2px;
    width:100%;
    height:30px;
}
.actionButton__wrapper button{
    cursor: pointer;
    background-color: #4c4949;
    color:white;
    height:100%;
}
.actionButton__Like, .actionButton__Comment, .actionButton__Share{
    width:calc(100%/3);
}
.actionButton__wrapper button:hover{
    color:aqua;
}
.commentPart {
    width:100%;
    height:43.164283%;
}
.commentPart__row {
    width:100%;
    height:30%;
    display: flex;
    margin-top:5px;
}
.commentPart__row:first-child{
    margin-top:10px;
}
.commentPart__row img {
    margin-left:10px;
    width:6%;
    height:90%;
    border-radius: 50%;
}
.commentPart__NameAndInput {
    height: 100%;
    width:70%;
}
.commentPart__NameAndInput h4 {
    color:white;
    opacity: 0.5;
    margin-left:10px;
    font-size: small;
    margin-top:5px;
}
.commentPart__NameAndInput textarea {
    margin-left: 10px;
    width:100%;
    border-radius: 10px;
    padding-left: 10px;
}
.commentPart__NameAndInput p {
    color:white;
    margin-left:10px;
    width:100%;
    height:100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.leftSidebar__Options {
    width:100%;
}
.leftSidebar__Options_LikedPages, .leftSidebar__Options_ProductStored{
    width:100%;
    display:flex;
}
.leftSidebar__Options_LikedPages img, .leftSidebar__Options_ProductStored img{
    width:30px;
    height:30px;
}
.leftSidebar__Options_ProductStored img {
    border:1px solid white;
    background-color: white;
}
.leftSidebar__Options_LikedPages p, .leftSidebar__Options_ProductStored p {
    margin-top:26px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
}
.leftSidebar__Options_LikedPages p:hover, .leftSidebar__Options_ProductStored p:hover{
    color:lightblue;
}
.activeList__wrapper {
    width:100%;
}
.activeListRow {
    width:100%;
    display:flex;
    position: relative;
    cursor: pointer;
}
.activeListRow:hover {
    background-color: #4c4949;
}
.activeListRow p {
    color:white;
    margin-top:28px;
    margin-left:5px;
}
.activeListRow img {
    width:40px;
    height:40px;
    border-radius: 50%;
}
.activeList__circle {
    position: absolute;
    background-color: rgb(37, 207, 37);
    width:10px;
    height:10px;
    border-radius: 50%;
    z-index:1;
    bottom:0;
    left:70px;
}
#messageWindow {
    display:none;
}
.hiddenWindow {
    display:none;
}
.messageWindow {
    width:300px;
    height:340px;
    position:fixed;
    z-index:999;
    bottom:0;
    left:229px;
}
.messageWindow__info {
    width:100%;
    height:15%;
    display:flex;
    background-color:rgb(20, 93, 93);
    position: relative;
}
.messageWindow__info img {
    width:35px;
    height:35px;
    border-radius: 50%;
    margin-left:5px;
    margin-top:7px;
}
.messageWindow__info p {
    color:white;
    margin-top:10px;
}
.messageWindow__info_active {
    width:10px;
    height:10px;
    position: absolute;
    z-index:1000;
    bottom:10px;
    left:30px;
    border-radius: 50%;
    background-color: rgb(60, 192, 60);
}
#thugon {
    margin-top:13px;
    width:26px;
    height:26px;
    margin-left:120px;
    cursor: pointer;
}
#hiddenWindow {
    margin-top:13px;
    margin-left:7px;
    width:26px;
    height:26px;
    cursor: pointer;
}
.messageWindow__body {
    width:100%;
    height:70%;
    background-color: rgb(159, 204, 204);
}
.messageWindow__input {
    width:100%;
    height:20%;
    background-color: rgb(20, 93, 93);
    display:flex;
}
.messageWindow__input textarea {
    width:41%;
    height: 40%;
    margin-top:10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 5px;
}

.listFeature {
    width:40%;
    height:100%;
}
.messageWindow__input img {
    width:25px;
    height:25px;
    margin-top:17px;
    margin-left:10px;
    cursor: pointer;
}
#happyLife {
    border-radius: 50%;
}