*{margin:0;padding:0}
#Logo {
    position:absolute;
    width:170px;
    height:100px;
    z-index:1;
    left: 8%;
    top: 7%;
}
.Header {
    position:relative;
    width:100%;
    height:121.13px;
    border:1px solid black;
    background-color: black;
}
.Men {
    position: absolute;
    z-index: 1;
    top:50%;
    left:38%;
    color:white;
}
.Social {
    position: absolute;
    z-index: 1;
    top:50%;
    left:25%;
    color:white;
}
.Woman {
    position: absolute;
    z-index: 1;
    top:50%;
    left:48%;
    color:white;
}
.Hot {
    position: absolute;
    z-index: 1;
    top:50%;
    left:60%;
    color:white;
}
body {
    background-image:linear-gradient(90deg, rgba(217, 217, 217, 0.62) 0%, #52A6CA 100%);
}
#loginHeader {
    position: absolute;
    z-index:1;
    top:55%;
    right:9%;
    color:white;
}
#headerAvatar {
    position: absolute;
    z-index:1;
    top:40%;
    right:4%;
    width:50px;
    height:50px;
    border-radius: 50%;
}
/* Hết phần Header, Menu */
.Carousel {
    margin-top:32px;
    position: absolute;
    z-index:1;
    width:1450px;
    padding-left:100px;
}
.Carousel .imageCarousel2, .Carousel .imageCarousel1{
    height:225px;
}

.titleBotHeader {
    text-align: center;
    margin-top:30px;
    font-size:42px;
    font-style: italic!important;
    color:white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: solid;
}
.khungCarousel {
    position: relative;
    width:100%;
    border: 1px solid black;
    height:290px;
    margin-top:45px;
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.62) 0%, #52A6CA 100%);
}
/* .containerSlider {
    position: absolute;
    width:80%;
    height:80%;
    border:1px solid black;
    margin-top:30px;
} */
.Carousel-Image {
    position: absolute;
    top:10%;
    left:13.1%;
    width:75%;
    height:80%;
    display:none;
}
.Carousel-Indicator {
    position: absolute;
    bottom:0%;
    left:48%;
    z-index:2;
}
#Pic2 {
    left:50%;
}
#Pic3 {
    left:52%;
}
.Carousel-Indicator:checked +.Carousel-Image {
    display: inline-block;
 }
 .Image-Active {
    display:inline-block;
 }
 .buttonCarousel {
    position: absolute;
    width:2.5%;
    height:1%;
    top:39%;
    right:6%;
 }
 .nutphai {
    width:100%;
    height:100%;
 }
 .buttonCarouselLeft {
    position: absolute;
    width:2.5%;
    height:1%;
    top:39%;
    left:7%;
 }
 .nuttrai {
    width:100%;
    height:100%;
 }
